body
  font-family: 'Nunito',Arial, sans-serif
  font-size: 14px
  background: #f5f5f5
  ._container
    width: 1320px
    padding: 0 15px
    margin: 0 auto

h1, h2, h3, h4, h5, p, ul, li
  margin: 0
  line-height: 1.5

ul
  padding: 0

li
  list-style: none

input
  outline: none

a
  text-decoration: none
  cursor: pointer

  &:hover
    text-decoration: none
    cursor: pointer

img
  max-width: 100%

.pad10_0
  padding: 10px 0

.pad20_0
  padding: 20px 0

.pad30_0
  padding: 30px 0

.padtp30_0
  padding: 30px 0 0 0

.padtp50_0
  padding: 50px 0 0 0

.padbt0_20
  padding: 0 0 20px 0

.padbt0_30
  padding: 0 0 30px 0

.padbt0_50
  padding: 0 0 50px 0

.pad30_50
  padding: 30px 0 50px 0

.pad50_0
  padding: 50px 0
.width30
  width: 30px
.width50
  width: 50px
.width70
  width: 70px
.width100
  width: 100px
.width175 
  width: 175px
#header
  background: #fff
._form_search
  form
    position: relative
  input[type='text']
    width: 500px
    background: #FFFFFF
    border: 0.5px solid #797979
    border-radius: 40px
    height: 40px
    padding: 0 70px 0 20px
    color: #666666
    font-size: 16px
    font-weight: 300
    &::placeholder
      color: #666666
      font-size: 16px
      font-weight: 300
  ._submit
    position: absolute
    right: 0
    top: 0
    img
      margin: 7px 20px
    input
      border: none
      width: 66px
      position: absolute
      top: 0
      right: 0
      background: transparent
      height: 40px
._support, ._account
  ._img
    width: 40px
    height: 40px
    border: 1px solid #000000
    border-radius: 50%
    margin-right: 12px
  span
    font-size: 16px
    font-weight: 300
    color: #000
.boxscroll
  height: 545px
  width: 250px
  padding-right: 20px
  span
    font-size: 14px
    font-weight: 600
    color: #000000
    padding-bottom: 5px
    border-bottom: 1px solid #C6C6C6
    display: block
  ul
    li
      a
        font-size: 14px !important
        font-weight: 300 !important
        color: #434343 !important
        text-transform: none
.nicescroll-rails
  background: #EDEDED
  border-radius: 5px
  width: 4px !important
.nicescroll-cursors
  background-color: #FFC5C5 !important
  border-radius: 5px !important
  width: 4px !important
  border: none !important
.menu
  border-top: 1px solid #106909
  border-bottom: 1px solid #106909
  ul > li
    padding: 10px 0 
    position: relative
    a
      font-size: 16px
      font-weight: 600
      text-transform: uppercase
      color: #000000
    .open
      display: none
      position: absolute
      width: 1290px
      top: 47px
      padding: 15px
      z-index: 10
      background: #FFFFFF
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
      &.style2
        width: 540px
        ul
          padding: 0 10px
          li a
            font-size: 14px
            font-weight: 300
            text-transform: none
      &.style1
        width: 280px
        ul
          padding: 0 10px
          li a
            font-size: 14px
            font-weight: 300
            text-transform: none
    &.dropdown a.top
      background: url("../img/arrowright.svg") no-repeat right center
      padding-right: 15px
    &.top
      border-bottom: 2px solid transparent
      &:hover, &.active
        border-bottom: 2px solid #FF326C
        .open
          display: flex
  ._right
    width: calc(100% - 250px)
    a.banner
      width: 32%
      margin: 0 0.5%
      padding-right: 0
.footer-top
  background: #535252
  ._item
    &:nth-child(1)
      p
        font-size: 14px
        color: #fff
        text-transform: uppercase
        margin-bottom: 10px
      img
        margin-top: 10px
    h4
      font-size: 14px
      color: #fff
      text-transform: uppercase
      margin-bottom: 10px
      border-bottom: 1px solid #CCCCCC
      padding-bottom: 10px
    ul
      li
        margin-bottom: 10px
        a
          font-weight: 300
          color: #fff
          font-size: 14px
          display: flex
          align-items: center
          .img
            width: 30px
            height: 30px
            background: #686868
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
            margin-right: 10px
            mix-blend-mode: luminosity
.footer-copyright
  background: #444444
  ul:nth-child(1)
    li 
      margin-right: 20px
  ul:nth-child(2)
    li 
      margin-left: 20px
      img
        mix-blend-mode: luminosity
._breadcrumb
  ul
    li
      padding: 0 10px
      position: relative
      a
        color: #444444
        font-size: 16px
        font-weight: 300
        img
          margin-right: 10px
      &::after
        content: "/"
        color: #444444
        font-size: 16px
        font-weight: 300
        position: absolute
        right: 0
        top: 0
    li:last-child::after
      display: none
.sidebar
  width: 350px
  background-color: #fff
  border-radius: 4px
  padding: 16px
.sidebar_right
  width: 450px
.top_account
  .box
    border-bottom: 1px solid #E7E7E7
    padding-bottom: 20px
    margin-bottom: 20px
    .img
      width: 64px
      height: 64px
      background: linear-gradient(180deg, #E9E9E9 0%, rgba(158, 158, 158, 0) 39.58%, #E9E9E9 80.21%, rgba(158, 158, 158, 0) 100%)
      border: 0.5px solid #E3E3E3
      border-radius: 50%
      margin-right: 20px
    p      
      font-size: 16px
      font-weight: 300
      color: #000
      span
        font-weight: 600
        display: block
  ul
    li 
      margin-bottom: 10px
      padding: 10px 0
      .img
        width: 50px
        text-align: center
      a
        font-size: 16px 
        font-weight: 300
        color: #000
      &.active
        background: #F1F1F1
.main_left
  width: 820px
  margin-right: 20px
.quan_ly_don_hang
  .item
    margin-bottom: 20px
  .top
    background: #FFFFFF
    border-radius: 10px 10px 0 0 
    padding: 20px 30px
    p
      font-size: 16px
      font-weight: 300
      color: #000
      span
        font-weight: 700
  .middle
    background: #FBF3F3
    padding: 20px 30px
    span:nth-child(2)
      color: #FF326C
      font-size: 25px
      font-weight: 600
    span:nth-child(1)
      margin-right: 100px
      font-size: 16px
      font-weight: 300
      color: #000
  .bottom
    background: #fff
    padding: 20px 30px
    border-radius: 0 0 10px 10px
    a
      height: 44px
      width: 157px
      font-size: 16px
      font-weight: 600
      color: #fff
      background: #FF326C
      border-radius: 5px
      text-transform: uppercase
  table
    tr th, tr td
      padding: 20px
    tr th:first-child, tr td:first-child, tr th:last-child, tr td:last-child
      padding: 20px 30px
    tr th
      background: #FBF3F3
      color: #000
      font-size: 14px
      font-weight: 300
    tr td
      background: #fff
      font-size: 14px
      font-weight: 300
      color: #000
      border-bottom: 1px solid #E9E9E9
      a
        height: 25px
        width: 67px
        font-size: 14px
        font-weight: 300
        color: #106909
        background: #FFFFFF
        border: 1px solid #106909
        border-radius: 5px
        margin-top: 10px
      .img
        width: 100px
      .text
        width: calc(100% - 100px)
.main_right2
  margin-left: 20px
  width: 920px
  h4
    padding-left: 30px
    font-size: 20px
    font-weight: 400
    color: #000
    margin-bottom: 15px
    text-transform: uppercase
.pager
  ul
    li
      height: 32px
      width: 32px
      background: #C4C4C4
      border-radius: 50%
      margin: 0 5px
      cursor: pointer
      a
        font-size: 16px
        font-weight: 300
        color: #fff 
      &:hover, &.active
        background: #FF326C
.so_dia_chi
  .item
    padding: 20px
    background: #FFFFFF
    border: 1px solid #DBDBDB
    border-radius: 5px
    margin-bottom: 15px
    .text
      margin-bottom: 5px
      span.name
        font-size: 20px
        font-weight: 600
        color: #000000
        margin-right: 20px
      span.macdinh
        height: 22px
        width: 71px
        border-radius: 5px
        background: #106909
        font-size: 12px
        font-weight: 300
        color: #fff
    p.address, p.phone
      font-size: 16px
      font-weight: 300
      color: #000
      margin-bottom: 5px
      span
        font-weight: 600
    .edit
      font-size: 16px
      font-weight: 300
      color: #106909
      margin-right: 20px
    .delete
      font-size: 16px
      font-weight: 300
      color: #000
  .themdiachi
    background: #FFFFFF
    border: 1px dashed #106909
    border-radius: 5px
    padding: 10px
    font-size: 16px
    font-weight: 300
    color: #106909

.main_right
  margin-left: 20px
  background: #fff
  border-radius: 4px
  width: 920px
  padding: 20px
  h4
    font-size: 20px
    font-weight: 400
    margin-bottom: 15px
    color: #000
    text-transform: uppercase
  .san_pham_da_xem_2
    .item
      float: left
      width: 24%
      margin: 0 0.5% 15px 0.5%
      border: 1px solid #D9D9D9
      border-radius: 5px
      .inner
        padding: 10px
        img.product
          margin: 0 auto 5px auto
          width: 180px
          height: 180px
        .title
          font-size: 14px
          font-weight: 300
          color: #000000
          margin-bottom: 5px
          height: 46px
          overflow: hidden
          display: block
        .star
          margin-bottom: 5px
          img
            margin-right: 5px
        .price
          .new
            font-size: 16px
            font-weight: 300
            color: #FF326C
            margin-right: 20px
          .old
            font-size: 14px
            font-weight: 300
            color: #C3C3C3
            text-decoration-line: line-through
      a.addtocart, a.write
        background: #FFE0E9
        border-radius: 0px 0px 5px 5px
        width: 100%
        height: 37px
        font-size: 12px
        font-weight: 400
        text-transform: uppercase
  .san_pham_da_xem
    .item
      border-bottom: 1px solid #EBEBEB
      padding-bottom: 20px
      margin-bottom: 20px
      .left
        padding-right: 20px
        .img
          margin-right: 20px
          width: 140px
          height: 140px
        .text
          width: 500px
          .row
            margin-bottom: 5px
          span.title
            font-size: 14px
            font-weight: 600
            color: #106909
            margin-bottom: 5px
            display: block
          span.date
            font-size: 14px
            font-weight: 300
            color: #939393
            margin-right: 18px
          span.star
            img
              margin: 0 3px
          .note
            font-size: 16px
            font-weight: 600
            color: #000000
            margin-bottom: 5px
          p
            font-size: 16px
            font-weight: 300
            color: #000000
      .right
        p.approve
          font-size: 14px
          font-weight: 400
          color: #106909
        p.none
          font-size: 14px
          font-weight: 400
          color: #A5A5A5 
.bgpopup
  background: rgba(0,0,0,0.6)
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  right: 0
  z-index: 12
  display: none
.popup
  position: absolute
  width: 526px
  left: 0
  top: 100px
  right: 0
  margin: 0 auto
  border: 1px solid #E0E0E0
  background: #fff
  padding: 16px
  z-index: 14
  display: none
  .close_popup
    display: flex
    justify-content: flex-end
    cursor: pointer
  button#capture
    background: #FFFFFF
    border: 1px solid #106909
    border-radius: 5px
    width: 230px
    height: 40px
    outline: none
    img
      margin-right: 10px
    span
      font-size: 16px
      font-weight: 300
      color: #106909
  button#review
    background: #106909
    border-radius: 5px
    width: 230px
    height: 40px
    font-size: 16px
    font-weight: 400
    color: #fff
    border: 1px solid #106909
    outline: none
  h4
    font-size: 20px
    font-weight: 600
    color: #000
    text-align: center
    margin-bottom: 15px
  .star
    margin-bottom: 30px
    img
      margin: 0 15px
  #textarea
    background: #FFFFFF
    border: 1px solid #D4D4D4
    border-radius: 5px
    color: #A2A2A2
    font-size: 16px
    font-weight: 300
    padding: 10px
    width: 100%
    outline: none
    height: 130px
    margin-bottom: 20px
    &::placeholder
      color: #A2A2A2
      font-size: 16px
      font-weight: 300
  .top
    margin-bottom: 20px
    padding-bottom: 30px
    border-bottom: 1px solid #E0E0E0
    img
      width: 65px
      height: 65px
    .title
      width: 185px
      display: block
      overflow: hidden
      height: 42px
.boxchoose
  position: absolute
  background: #FFFFFF
  box-shadow: 0px 0px 7px rgba(81, 81, 81, 0.25)
  border-radius: 5px
  padding: 16px
  top: 30px
  right: -10px
  display: none
  ul li
    margin: 5px 0
    a
      font-size: 16px
      font-weight: 300
      color: #000000

.addaddress, .editaddress
  position: absolute
  width: 766px
  left: 0
  top: 100px
  right: 0
  margin: 0 auto
  background: #FFFFFF
  border-radius: 10px
  padding: 30px
  z-index: 14
  display: none
  .style2
    margin: 20px 0
    label
      font-size: 16px
      font-weight: 400
      color: #000000
  .button
    .huy
      margin-right: 10px
      background: #FFFFFF
      border: 1px solid #727272
      border-radius: 5px
      font-size: 16px
      font-weight: 300
      color: #000000
      width: 60px
      height: 40px
      outline: none
      cursor: pointer
    .giao
      background: #DBDBDB
      border-radius: 5px
      width: 175px
      height: 40px
      border: none
      font-size: 16px
      font-weight: 600
      color: #fff
      outline: none
      cursor: pointer
      &:hover
        background: #212121
  .item
    margin: 10px 0
  .close_popup
    display: flex
    justify-content: flex-end
    cursor: pointer
  h2
    margin-bottom: 20px
    img
      margin-right: 10px
    font-size: 20px
    font-weight: 400
    color: #000
    text-transform: uppercase
.bgmain 
  background: #FFFFFF
  border-radius: 5px
  margin-bottom: 18px
  padding: 20px
#header2
  background: #fff
  margin-bottom: 25px
  ul
    li
      .img
        margin-right: 12px
        width: 45px
        height: 45px
        border-radius: 50%
        background: #D4D4D4 
      &.active
        .img
          width: 45px
          height: 45px
          border-radius: 50%
          background: #222222
        &::after
          content: ""
          width: 50px
          height: 2px
          background: #000000
          margin: 0 16px
      span
        font-size: 16px
        font-weight: 300
        text-transform: uppercase          
        color: #000000

.magiamgia
  .head
    margin-bottom: 10px
    img
      margin-right: 15px
    h4
      font-size: 18px
      font-weight: 400
      color: #000
      text-transform: uppercase
      margin-right: 20px
    span
      font-size: 16px
      font-weight: 300
      color: #575757
  .bg
    background: url("../img/background.jpg") no-repeat center center
    width: 414px
    height: 76px
    padding: 10px
    .row
      .img
        width: 60px
        text-align: center
      p 
        font-size: 16px
        font-weight: 300
        color: #000
        width: calc(100% - 100px)
        span
          font-weight: 600
  .content
    margin-bottom: 10px
    input
      background: #FFFFFF
      border: 1px solid #D2D2D2
      border-radius: 5px
      width: 100%
      height: 40px
.button
  #cash
    background: #FE2C6D
    border-radius: 5px
    width: 100%
    height: 58px
    font-size: 20px
    font-weight: 600
    color: #fff
    border: none
    margin-bottom: 15px
  #vnpay
    background: #444444
    border: 1px solid #E1E1E1
    border-radius: 5px
    font-size: 20px
    font-weight: 600
    color: #fff
    width: 100%
    height: 58px
    img
      margin-left: 10px
    margin-bottom: 15px
.lixi
  span:nth-child(1)
    display: block
    font-size: 18px
    font-weight: 400
    color: #000000
  span:nth-child(2)
    display: block
    font-size: 35px
    font-weight: 400
    color: #000000
.stylett
  position: relative
  .icon
    position: absolute
    left: 30px
  .content
    padding: 0px 0 0 50px
  .head
    margin-bottom: 20px
    h2
      font-size: 18px
      font-weight: 400
      color: #000
      text-transform: uppercase
      margin-bottom: 10px
    p
      font-size: 16px
      font-weight: 400
      a
        color: #106909
        font-weight: 300
        text-decoration: underline
  .input-column2
    width: 48%
  .input-column1
    width: 100%
  .input-column3
    width: 32%
  .input
    background: #FFFFFF
    border: 1px solid #CECECE
    border-radius: 3px
    width: 100%
    height: 40px
    font-size: 14px
    font-weight: 300
    color: #000
    margin-bottom: 20px
    padding: 0 10px
    &::placeholder
      font-size: 14px
      font-weight: 300
      color: #545454
  .input2
    background: #FFFFFF
    border: 1px solid #CECECE
    border-radius: 3px
    font-size: 14px
    font-weight: 300
    color: #545454
    padding: 0 10px
    width: 100%
    height: 40px
  .input3
    border: none
    border-bottom: 1px solid #C6C6C6
    width: 100%
    height: 40px
    font-size: 16px
    font-weight: 300
    color: #000
    &::placeholder
      color: #B5B5B5
.phuongthucgiaohang
  .item
    background: #FFFFFF
    border: 1px solid #E2E2E2
    border-radius: 5px
    width: 100%
    padding: 20px
    p
      font-weight: 300
      font-size: 16px
      color: #575757
      span
        font-weight: 400
      span.free
        color: #106909
    span
      color: #000
      font-weight: 400
      font-size: 16px
.tongcong
  span:nth-child(1)
    font-size: 16px
    font-weight: 300
    color: #000000
  span:nth-child(2)
    font-size: 16px
    font-weight: 600
    color: #000
  .item
    padding: 5px 0
.dichvukemtheo
  .box2
    display: none
    margin-top: 15px
    .textarea
      width: 100%
      background: #F5F5F5
      border-radius: 5px
      height: 80px
      font-size: 16px
      font-weight: 300
      color: #C8C8C8
      outline: none
      padding: 15px
      border: none
  .box
    cursor: pointer
    position: relative 
    &.active
      .checkbox::before
        content: ""
        background: url("../img/arrow.svg") no-repeat
        width: 12px
        height: 9px
        position: absolute
        left: 5px 
        top: 6px
      & + .box2
        display: block
    p
      margin-left: 10px
      font-size: 16px
      font-weight: 400
      color: #000000
      span
        font-size: 14px
        font-weight: 300
        color: #575757
        display: block
.thong_tin_tai_khoan
  .box
    position: relative
    margin-bottom: 10px
    &.active
      .checkbox::before
        content: ""
        background: url("../img/arrow.svg") no-repeat
        width: 12px
        height: 9px
        position: absolute
        left: 5px 
        top: 7px
      & + .box2
        display: block
    p
      margin-left: 10px
      font-size: 16px
      font-weight: 600
      color: #000
  .box2
    display: none
  .button
    margin-left: 200px
    .update
      background: #106909
      border-radius: 5px
      width: 170px
      height: 45px
      font-size: 20px
      font-weight: 400
      color: #fff
      outline: none
      cursor: pointer
      border: none
  .label
    width: 200px
    font-size: 16px
    font-weight: 300
    color: #000
  .forminput
    width: calc(100% - 200px)
  .input
    margin-bottom: 0
  .item
    margin-bottom: 15px
    position: relative
  .macdinh
    position: absolute
    top: 0
    right: 0
    background: #106909
    border: 1px solid #CECECE
    border-radius: 5px
    font-size: 16px
    font-weight: 300
    color: #fff
    height: 40px
    width: 110px
  .themsodienthoai
    position: absolute
    left: 200px
    bottom: -40px
    font-size: 16px
    font-weight: 300
    color: #106909 !important
  .radio
    margin-right: 20px
  .sodienthoai
    margin-bottom: 60px
  .sodienthoai2
    display: none
  .day, .month, .year
    width: 100px
    height: 40px
    background: #FFFFFF
    border: 1px solid #CECECE
    border-radius: 5px
    text-align: center
    text-align-last: center
    font-size: 16px
    font-weight: 300
    color: #000
    margin-right: 20px
  
.diachinhanhang
  .boxship
    background: #FFFFFF
    border-radius: 5px
    border: 1px solid #CECECE
    .box1, .box3
      padding: 10px 10px 0 10px
    .box2
      background: #F0F0F0
      padding: 10px
    label
      font-size: 16px
      font-weight: 400
      color: #000
  .content2
    .boxship2
      padding-left: 8px
      label
        font-size: 16px
        font-weight: 400
        color: #000
      .box2
        padding-left: 42px
        margin-bottom: 12px
        .input-column2
          background: #FFFFFF
          border: 1px solid #E2E2E2
          border-radius: 5px
          padding: 20px
        .style
          padding: 5px 15px
          border: 1px dashed #B0B0B0
          span:nth-child(1)
            font-size: 26px
            font-weight: 400
            color: #000
          span:nth-child(2)
            font-size: 16px
            font-weight: 300
            color: #000
            padding: 0 20px 0 7px
        .item
          width: calc(100% - 60px)
          position: relative
          &.active
            .boxchoose
              display: block
          span
            font-size: 16px
            font-weight: 400
            color: #000000
            span.macdinh
              font-size: 12px
              font-weight: 300
              color: #fff
              background: #106909
              border-radius: 2px
              padding: 0 5px
              margin-left: 5px
          p
            font-size: 16px
            font-weight: 300
            color: #575757
            margin-top: 8px
            height: 45px
            overflow: hidden
          .choose
            position: absolute
            top: 0
            right: -10px
            cursor: pointer
            span
              display: block
              width: 4px
              height: 4px
              background: #C4C4C4
              border-radius: 50%
              margin-bottom: 3px
        [type=radio]:checked + label:before, [type=radio]:not(:checked) + label:before
          top: -3px
        [type=radio]:checked + label:after
          top: 2px
    .style1 [type=radio]:checked + label, .style1 [type=radio]:not(:checked) + label
      padding-left: 42px
    
.phuongthucthanhtoan
  .box
    .item
      width: 19%
      background: #FFFFFF
      border: 1px solid #E2E2E2
      border-radius: 5px
      height: 250px
      text-align: center
      padding: 20px 5px
      position: relative
      .img
        position: absolute
        top: 55px
        img 
          mix-blend-mode: luminosity
      &:nth-child(2)
        img
          margin-top: -15px
      .radio
        position: relative
        height: 40px
      [type=radio]:checked + label + .img img
        mix-blend-mode: normal
      [type=radio]:checked, [type=radio]:not(:checked)
        width: 100%
        height: 256px
        left: 0
      p
        font-size: 16px
        font-weight: 300
        color: #000
        position: absolute
        top: 130px
  .style1 [type=radio]:checked + label, .style1 [type=radio]:not(:checked) + label
    padding-left: 20px
  .note
    margin-top: 25px
    p
      font-size: 16px
      font-weight: 300
      color: #000
      span
        font-weight: 400
  
.thongtinxuathoadon, .ghichudonhang
  .box
    margin-left: 10px
    position: relative
    cursor: pointer
    p
      margin-left: 20px
      font-size: 18px
      font-weight: 400
      color: #000
      text-transform: uppercase
    &.active
      .checkbox::before
        content: ""
        background: url("../img/arrow.svg") no-repeat
        width: 12px
        height: 9px
        position: absolute
        left: 5px 
        top: 10px
      & + .box2
        display: block
  .box2
    display: none
    margin: 20px 50px 0 50px
    .row
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
    .input-column2
      span
        font-size: 16px
        font-weight: 400
        color: #2F2F2F
    .textarea
      width: 100%
      background: #F5F5F5
      border-radius: 5px
      height: 80px
      font-size: 16px
      font-weight: 300
      color: #C8C8C8
      outline: none
      padding: 15px
      border: none
.thongtindonhang
  .head
    img
      margin-right: 15px
    h4
      font-size: 18px
      font-weight: 400
      color: #000
      text-transform: uppercase
      margin-right: 20px
    span
      font-size: 16px
      font-weight: 300
      color: #575757
  .content
    .item
      padding: 20px 0
      border-bottom: 1px solid #EBEBEB
      &:last-child
        border-bottom: none
      .left
        width: 80px
        padding-right: 20px
        text-align: center
        a
          color: #106909
          margin-top: 10px
          font-size: 16px
          font-weight: 300
          display: block
      .right
        width: calc(100% - 80px)
        .title
          font-size: 16px
          font-weight: 300
          color: #000000
          margin-bottom: 15px
          display: block
        .number
          background: #FFFFFF
          border: 0.5px solid #969696
          border-radius: 30px
          font-weight: 400
          font-size: 16px
          color: #303030
          width: 65px
          height: 30px
          text-align: center
          outline: none
          text-align-last: center
        div
          span:nth-child(2)
            padding: 0 20px
            font-size: 16px
            font-weight: 300
            color: #ACACAC
          span.price           
            font-size: 16px
            font-weight: 600
            color: #000
.style1
  [type="radio"]
    &:checked, &:not(:checked)
      position: absolute
      width: 20px
      height: 30px
      z-index: 10
      opacity: 0
      cursor: pointer
    &:checked + label, &:not(:checked) + label
      position: relative
      padding-left: 28px
      cursor: pointer
      line-height: 20px
      display: inline-block
      font-size: 16px
      font-weight: 300
      color: #000
    &:checked + label:before, &:not(:checked) + label:before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 20px
      height: 20px
      border: 1px solid #106909
      border-radius: 100%
      background: #fff
    &:not(:checked) + label:before
      border: 1px solid #CECECE
    &:checked + label:after
      content: ''
      width: 10px
      height: 10px
      background: #106909
      position: absolute
      top: 5px
      left: 5px
      border-radius: 100%
      -webkit-transition: all 0.2s ease
      transition: all 0.2s ease

    &:not(:checked) + label:after
      content: ''
      width: 12px
      height: 12px
      background: #F87DA9
      position: absolute
      top: 4px
      left: 4px
      border-radius: 100%
      -webkit-transition: all 0.2s ease
      transition: all 0.2s ease
      opacity: 0
      -webkit-transform: scale(0)
      transform: scale(0)

    &:checked + label:after
      opacity: 1
      -webkit-transform: scale(1)
      transform: scale(1)
.style2
  .checkbox
    background: #FFFFFF
    border: 1px solid #000000
    border-radius: 3px
    width: 22px
    height: 22px
  [type="radio"]
    &:checked, &:not(:checked)
      position: absolute
      width: 20%
      height: 20px
      z-index: 10
      opacity: 0
      cursor: pointer
    &:checked + label, &:not(:checked) + label
      position: relative
      padding-left: 35px
      cursor: pointer
      line-height: 20px
      display: inline-block
      height: 25px
      
    &:checked + label:before, &:not(:checked) + label:before
      content: ''
      position: absolute
      left: 0
      top: 0
      background: #FFFFFF
      border: 1px solid #606060
      border-radius: 3px
      width: 22px
      height: 22px

    &:checked + label:after
      content: ''
      background: url("../img/check.svg") no-repeat
      width: 12px
      height: 9px
      position: absolute
      left: 5px
      top: 7px
    &:not(:checked) + label:after
      content: ''
      width: 12px
      height: 12px
      background: #F87DA9
      position: absolute
      top: 4px
      left: 4px
      border-radius: 100%
      -webkit-transition: all 0.2s ease
      transition: all 0.2s ease
      opacity: 0
      -webkit-transform: scale(0)
      transform: scale(0)

    &:checked + label:after
      opacity: 1
      -webkit-transform: scale(1)
      transform: scale(1)
@media(max-width: 1279px)
  #header, #footer-new, #header2
    width: 1320px