body {
  font-family: "Nunito", Arial, sans-serif;
  font-size: 14px;
  background: #f5f5f5;
}
body ._container {
  width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  line-height: 1.5;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.pad10_0 {
  padding: 10px 0;
}

.pad20_0 {
  padding: 20px 0;
}

.pad30_0 {
  padding: 30px 0;
}

.padtp30_0 {
  padding: 30px 0 0 0;
}

.padtp50_0 {
  padding: 50px 0 0 0;
}

.padbt0_20 {
  padding: 0 0 20px 0;
}

.padbt0_30 {
  padding: 0 0 30px 0;
}

.padbt0_50 {
  padding: 0 0 50px 0;
}

.pad30_50 {
  padding: 30px 0 50px 0;
}

.pad50_0 {
  padding: 50px 0;
}

.width30 {
  width: 30px;
}

.width50 {
  width: 50px;
}

#header {
  background: #fff;
}

._form_search form {
  position: relative;
}
._form_search input[type=text] {
  width: 614px;
  background: #FFFFFF;
  border: 0.5px solid #797979;
  border-radius: 40px;
  height: 40px;
  padding: 0 70px 0 20px;
  color: #666666;
  font-size: 16px;
  font-weight: 300;
}
._form_search input[type=text]::placeholder {
  color: #666666;
  font-size: 16px;
  font-weight: 300;
}
._form_search ._submit {
  position: absolute;
  right: 0;
  top: 0;
}
._form_search ._submit img {
  margin: 7px 20px;
}
._form_search ._submit input {
  border: none;
  width: 66px;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  height: 40px;
}

._support ._img, ._account ._img {
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 50%;
  margin-right: 12px;
}
._support span, ._account span {
  font-size: 16px;
  font-weight: 300;
  color: #000;
}

.boxscroll {
  height: 545px;
  width: 250px;
  padding-right: 20px;
}
.boxscroll span {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 5px;
  border-bottom: 1px solid #C6C6C6;
  display: block;
}
.boxscroll ul li a {
  font-size: 14px !important;
  font-weight: 300 !important;
  color: #434343 !important;
  text-transform: none;
}

.nicescroll-rails {
  background: #EDEDED;
  border-radius: 5px;
  width: 4px !important;
}

.nicescroll-cursors {
  background-color: #FFC5C5 !important;
  border-radius: 5px !important;
  width: 4px !important;
  border: none !important;
}

.menu {
  border-top: 1px solid #106909;
  border-bottom: 1px solid #106909;
}
.menu ul > li {
  padding: 10px 0;
  position: relative;
}
.menu ul > li a {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
}
.menu ul > li .open {
  display: none;
  position: absolute;
  width: 1290px;
  top: 47px;
  padding: 15px;
  background-color: #fff;
  z-index: 10;
}
.menu ul > li .open.style2 {
  width: 540px;
}
.menu ul > li .open.style2 ul {
  padding: 0 10px;
}
.menu ul > li .open.style2 ul li a {
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
}
.menu ul > li .open.style1 {
  width: 280px;
}
.menu ul > li .open.style1 ul {
  padding: 0 10px;
}
.menu ul > li .open.style1 ul li a {
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
}
.menu ul > li.dropdown a.top {
  background: url("../img/arrowright.svg") no-repeat right center;
  padding-right: 15px;
}
.menu ul > li.top {
  border-bottom: 2px solid transparent;
}
.menu ul > li.top:hover, .menu ul > li.top.active {
  border-bottom: 2px solid #FF326C;
}
.menu ul > li.top:hover .open, .menu ul > li.top.active .open {
  display: flex;
}
.menu ._right {
  width: calc(100% - 250px);
}
.menu ._right a.banner {
  width: 32%;
  margin: 0 0.5%;
  padding-right: 0;
}

.footer-top {
  background: #535252;
}
.footer-top ._item {
  width: 300px;
}
.footer-top ._item:nth-child(1) p {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer-top ._item h4 {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 10px;
}
.footer-top ._item ul li {
  margin-bottom: 10px;
}
.footer-top ._item ul li a {
  font-weight: 300;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.footer-top ._item ul li a .img {
  width: 30px;
  height: 30px;
  background: #686868;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  mix-blend-mode: luminosity;
}

.footer-copyright {
  background: #444444;
}
.footer-copyright ul:nth-child(1) li {
  margin-right: 20px;
}
.footer-copyright ul:nth-child(2) li {
  margin-left: 20px;
}
.footer-copyright ul:nth-child(2) li img {
  mix-blend-mode: luminosity;
}

._breadcrumb ul li {
  padding: 0 10px;
  position: relative;
}
._breadcrumb ul li a {
  color: #444444;
  font-size: 16px;
  font-weight: 300;
}
._breadcrumb ul li a img {
  margin-right: 10px;
}
._breadcrumb ul li::after {
  content: "/";
  color: #444444;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  right: 0;
  top: 0;
}
._breadcrumb ul li:last-child::after {
  display: none;
}

.sidebar {
  width: 350px;
  background-color: #fff;
  border-radius: 4px;
  padding: 16px;
}

.top_account .box {
  border-bottom: 1px solid #E7E7E7;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.top_account .box .img {
  width: 64px;
  height: 64px;
  background: linear-gradient(180deg, #E9E9E9 0%, rgba(158, 158, 158, 0) 39.58%, #E9E9E9 80.21%, rgba(158, 158, 158, 0) 100%);
  border: 0.5px solid #E3E3E3;
  border-radius: 50%;
  margin-right: 20px;
}
.top_account .box p {
  font-size: 16px;
  font-weight: 300;
  color: #000;
}
.top_account .box p span {
  font-weight: 600;
  display: block;
}
.top_account ul li {
  margin-bottom: 10px;
  padding: 10px 0;
}
.top_account ul li .img {
  width: 50px;
  text-align: center;
}
.top_account ul li a {
  font-size: 16px;
  font-weight: 300;
  color: #000;
}
.top_account ul li.active {
  background: #F1F1F1;
}

.main_right {
  margin-left: 20px;
  background: #fff;
  border-radius: 4px;
  width: 920px;
  padding: 20px;
}
.main_right h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #000;
  text-transform: uppercase;
}
.main_right .san_pham_da_xem_2 .item {
  float: left;
  width: 24%;
  margin: 0 0.5% 15px 0.5%;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}
.main_right .san_pham_da_xem_2 .item .inner {
  padding: 10px;
}
.main_right .san_pham_da_xem_2 .item .inner img.product {
  margin: 0 auto 5px auto;
  width: 180px;
  height: 180px;
}
.main_right .san_pham_da_xem_2 .item .inner .title {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 5px;
  height: 46px;
  overflow: hidden;
  display: block;
}
.main_right .san_pham_da_xem_2 .item .inner .star {
  margin-bottom: 5px;
}
.main_right .san_pham_da_xem_2 .item .inner .star img {
  margin-right: 5px;
}
.main_right .san_pham_da_xem_2 .item .inner .price .new {
  font-size: 16px;
  font-weight: 300;
  color: #FF326C;
  margin-right: 20px;
}
.main_right .san_pham_da_xem_2 .item .inner .price .old {
  font-size: 14px;
  font-weight: 300;
  color: #C3C3C3;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.main_right .san_pham_da_xem_2 .item a.addtocart, .main_right .san_pham_da_xem_2 .item a.write {
  background: #FFE0E9;
  border-radius: 0px 0px 5px 5px;
  width: 100%;
  height: 37px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.main_right .san_pham_da_xem .item {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.main_right .san_pham_da_xem .item .left {
  padding-right: 20px;
}
.main_right .san_pham_da_xem .item .left .img {
  margin-right: 20px;
  width: 140px;
  height: 140px;
}
.main_right .san_pham_da_xem .item .left .text {
  width: 500px;
}
.main_right .san_pham_da_xem .item .left .text .row {
  margin-bottom: 5px;
}
.main_right .san_pham_da_xem .item .left .text span.title {
  font-size: 16px;
  font-weight: 600;
  color: #106909;
  margin-bottom: 5px;
  display: block;
}
.main_right .san_pham_da_xem .item .left .text span.date {
  font-size: 14px;
  font-weight: 300;
  color: #939393;
  margin-right: 18px;
}
.main_right .san_pham_da_xem .item .left .text span.star img {
  margin: 0 3px;
}
.main_right .san_pham_da_xem .item .left .text .note {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 5px;
}
.main_right .san_pham_da_xem .item .left .text p {
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}
.main_right .san_pham_da_xem .item .right p.approve {
  font-size: 14px;
  font-weight: 400;
  color: #106909;
}
.main_right .san_pham_da_xem .item .right p.none {
  font-size: 14px;
  font-weight: 400;
  color: #A5A5A5;
}

.bgpopup {
  background: rgba(255, 255, 255, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  right: 0;
  z-index: 12;
  display: none;
}

.popup {
  position: absolute;
  width: 526px;
  left: 0;
  top: 100px;
  right: 0;
  margin: 0 auto;
  border: 1px solid #E0E0E0;
  background: #fff;
  padding: 16px;
  z-index: 14;
  display: none;
}
.popup .close_popup {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.popup button#capture {
  background: #FFFFFF;
  border: 1px solid #106909;
  border-radius: 5px;
  width: 230px;
  height: 40px;
  outline: none;
}
.popup button#capture img {
  margin-right: 10px;
}
.popup button#capture span {
  font-size: 16px;
  font-weight: 300;
  color: #106909;
}
.popup button#review {
  background: #106909;
  border-radius: 5px;
  width: 230px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: 1px solid #106909;
  outline: none;
}
.popup h4 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin-bottom: 15px;
}
.popup .star {
  margin-bottom: 30px;
}
.popup .star img {
  margin: 0 15px;
}
.popup #textarea {
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  border-radius: 5px;
  color: #A2A2A2;
  font-size: 16px;
  font-weight: 300;
  padding: 10px;
  width: 100%;
  outline: none;
  height: 130px;
  margin-bottom: 20px;
}
.popup #textarea::placeholder {
  color: #A2A2A2;
  font-size: 16px;
  font-weight: 300;
}
.popup .top {
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E0E0E0;
}
.popup .top img {
  width: 65px;
  height: 65px;
}
.popup .top .title {
  width: 185px;
  display: block;
  overflow: hidden;
  height: 42px;
}

@media (max-width: 1279px) {
  #header, #footer-new {
    width: 1320px;
  }
}