body
  font-family: 'Nunito',Arial, sans-serif
  font-size: 14px
  background: #f5f5f5
  ._container
    width: 1290px
    padding: 0
    margin: 0 auto

h1, h2, h3, h4, h5, p, ul, li
  margin: 0
  line-height: 1.5

ul
  padding: 0

li
  list-style: none

input
  outline: none

a
  text-decoration: none
  cursor: pointer

  &:hover
    text-decoration: none
    cursor: pointer

img
  max-width: 100%

.pad10_0
  padding: 10px 0

.pad20_0
  padding: 20px 0

.pad30_0
  padding: 30px 0

.padtp30_0
  padding: 30px 0 0 0

.padtp50_0
  padding: 50px 0 0 0

.padbt0_20
  padding: 0 0 20px 0

.padbt0_30
  padding: 0 0 30px 0

.padbt0_50
  padding: 0 0 50px 0

.pad30_50
  padding: 30px 0 50px 0

.pad50_0
  padding: 50px 0
.width30
  width: 30px
.width50
  width: 50px
#header
  background: #fff
._form_search
  form
    position: relative
  input[type='text']
    width: 614px
    background: #FFFFFF
    border: 0.5px solid #797979
    border-radius: 40px
    height: 40px
    padding: 0 70px 0 20px
    color: #666666
    font-size: 16px
    font-weight: 300
    &::placeholder
      color: #666666
      font-size: 16px
      font-weight: 300
  ._submit
    position: absolute
    right: 0
    top: 0
    img
      margin: 7px 20px
    input
      border: none
      width: 66px
      position: absolute
      top: 0
      right: 0
      background: transparent
      height: 40px
._support, ._account
  ._img
    width: 40px
    height: 40px
    border: 1px solid #000000
    border-radius: 50%
    margin-right: 12px
  span
    font-size: 16px
    font-weight: 300
    color: #000
.boxscroll
  height: 545px
  width: 250px
  padding-right: 20px
  span
    font-size: 14px
    font-weight: 600
    color: #000000
    padding-bottom: 5px
    border-bottom: 1px solid #C6C6C6
    display: block
  ul
    li
      a
        font-size: 14px !important
        font-weight: 300 !important
        color: #434343 !important
        text-transform: none
.nicescroll-rails
  background: #EDEDED
  border-radius: 5px
  width: 4px !important
.nicescroll-cursors
  background-color: #FFC5C5 !important
  border-radius: 5px !important
  width: 4px !important
  border: none !important
.menu
  border-top: 1px solid #106909
  border-bottom: 1px solid #106909
  ul > li
    padding: 10px 0 
    position: relative
    a
      font-size: 16px
      font-weight: 600
      text-transform: uppercase
      color: #000000
    .open
      display: none
      position: absolute
      width: 1290px
      top: 47px
      padding: 15px
      background-color: #fff
      z-index: 10
      &.style2
        width: 540px
        ul
          padding: 0 10px
          li a
            font-size: 14px
            font-weight: 300
            text-transform: none
      &.style1
        width: 280px
        ul
          padding: 0 10px
          li a
            font-size: 14px
            font-weight: 300
            text-transform: none
    &.dropdown a.top
      background: url("../img/arrowright.svg") no-repeat right center
      padding-right: 15px
    &.top
      border-bottom: 2px solid transparent
      &:hover, &.active
        border-bottom: 2px solid #FF326C
        .open
          display: flex
  ._right
    width: calc(100% - 250px)
    a.banner
      width: 32%
      margin: 0 0.5%
      padding-right: 0
.footer-top
  background: #535252
  ._item
    width: 300px
    &:nth-child(1)
      p
        font-size: 14px
        color: #fff
        text-transform: uppercase
        margin-bottom: 10px
    h4
      font-size: 14px
      color: #fff
      text-transform: uppercase
      margin-bottom: 10px
      border-bottom: 1px solid #CCCCCC
      padding-bottom: 10px
    ul
      li
        margin-bottom: 10px
        a
          font-weight: 300
          color: #fff
          font-size: 14px
          display: flex
          align-items: center
          .img
            width: 30px
            height: 30px
            background: #686868
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
            margin-right: 10px
            mix-blend-mode: luminosity
.footer-copyright
  background: #444444
  ul:nth-child(1)
    li 
      margin-right: 20px
  ul:nth-child(2)
    li 
      margin-left: 20px
      img
        mix-blend-mode: luminosity
._breadcrumb
  ul
    li
      padding: 0 10px
      position: relative
      a
        color: #444444
        font-size: 16px
        font-weight: 300
        img
          margin-right: 10px
      &::after
        content: "/"
        color: #444444
        font-size: 16px
        font-weight: 300
        position: absolute
        right: 0
        top: 0
    li:last-child::after
      display: none
.sidebar
  width: 370px
  background-color: #fff
  border-radius: 4px
  padding: 16px
.top_account
  .box
    border-bottom: 1px solid #E7E7E7
    padding-bottom: 20px
    margin-bottom: 20px
    .img
      width: 64px
      height: 64px
      background: linear-gradient(180deg, #E9E9E9 0%, rgba(158, 158, 158, 0) 39.58%, #E9E9E9 80.21%, rgba(158, 158, 158, 0) 100%)
      border: 0.5px solid #E3E3E3
      border-radius: 50%
      margin-right: 20px
    p      
      font-size: 16px
      font-weight: 300
      color: #000
      span
        font-weight: 600
        display: block
  ul
    li 
      margin-bottom: 20px
      .img
        width: 50px
        text-align: center
      a
        font-size: 16px 
        font-weight: 300
        color: #000
.main_right
  margin-left: 20px
  background: #fff
  border-radius: 4px
  width: 900px
  padding: 16px
  h4
    font-size: 20px
    font-weight: 400
    margin-bottom: 10px
    color: #000
    text-transform: uppercase
  .san_pham_da_xem
    .item
      border-bottom: 1px solid #EBEBEB
      padding-bottom: 20px
      margin-bottom: 20px
      .left
        padding-right: 20px
        .img
          margin-right: 20px
        .text
          width: 500px
          .row
            margin-bottom: 5px
          span.title
            font-size: 16px
            font-weight: 600
            color: #106909
            margin-bottom: 5px
            display: block
          span.date
            font-size: 14px
            font-weight: 300
            color: #939393
            margin-right: 18px
          span.star
            img
              margin: 0 3px
          .note
            font-size: 16px
            font-weight: 600
            color: #000000
            margin-bottom: 5px
          p
            font-size: 16px
            font-weight: 300
            color: #000000
      .right
        p.approve
          font-size: 14px
          font-weight: 400
          color: #106909
        p.none
          font-size: 14px
          font-weight: 400
          color: #A5A5A5




