doctype html
html
  include inc/head.jade
  body
    include inc/header.jade
    include inc/breadcrumb.jade
    .main.padbt0_30
      ._container
        .row
          include inc/sidebar.jade
          .main_right.main_right_thuonghieu
            .sort
              .sort_thuonghieu
                span.top Thương hiệu
                .box-open
                  .search-form 
                    input(type="text" placeholder="Tìm kiếm")
                    button(type='submit')
                      img(src='img/search3.svg')
                  .content
                    label 
                      input(type="checkbox" name="check_value")
                      span Akr Farm
                    label
                      input(type="checkbox" name="check_value")
                      span Be-Max 
                    label
                      input(type="checkbox" name="check_value")
                      span Botanical
                    label
                      input(type="checkbox" name="check_value")
                      span Bvlgari
                    label
                      input(type="checkbox" name="check_value")
                      span Channel
                    label 
                      input(type="checkbox" name="check_value")
                      span Akr Farm
                    label
                      input(type="checkbox" name="check_value")
                      span Be-Max 
                    label
                      input(type="checkbox" name="check_value")
                      span Botanical
                    label
                      input(type="checkbox" name="check_value")
                      span Bvlgari
                    label
                      input(type="checkbox" name="check_value")
                      span Channel
                    label
                      input(type="checkbox" name="check_value")
                      span Channel
                    label 
                      input(type="checkbox" name="check_value")
                      span Akr Farm
                    label
                      input(type="checkbox" name="check_value")
                      span Be-Max 
                    label
                      input(type="checkbox" name="check_value")
                      span Botanical
                    label
                      input(type="checkbox" name="check_value")
                      span Bvlgari
                    label
                      input(type="checkbox" name="check_value")
                      span Channel
                  .button
                    button(type="button").accept Áp dụng
                    button(type="button").cancel Bỏ chọn
              .sort_sapxep
                span.top Sắp xếp 
                .box-open
                  label
                    input(type="checkbox" name="check_value")
                    span Mặc định 
                  label
                    input(type="checkbox" name="check_value")
                    span Mới nhất 
                  label
                    input(type="checkbox" name="check_value")
                    span Giảm giá nhiều nhất
                  label
                    input(type="checkbox" name="check_value")
                    span Giá tăng dần
                  label
                    input(type="checkbox" name="check_value")
                    span Giá giảm dần
            .san_pham_da_xem_2
              -for (i=0;i<28;i++)
                .item
                  .inner
                    img(src='img/image4.jpg', alt='').product
                    span.title Sữa rửa mặt dành cho nam giới Maria Galland 900...
                    span.star.row.align-items-center
                      img(src='img/Star3.svg', alt='')
                      img(src='img/Star3.svg', alt='')
                      img(src='img/Star3.svg', alt='')
                      img(src='img/Star3.svg', alt='')
                      img(src='img/Star2.svg', alt='')
                      span (20)
                    span.price.row.align-items-center
                      span.new 500.000đ
                      span.old 750.000đ
                  a.addtocart.row.justify-content-center.align-items-center Thêm giỏ hàng
            .pager2
              ul
                li
                  a.prev 
                    img(src='img/prev-pager.svg', alt='')
                li.active
                  a.number 1
                li
                  a.number 2
                li
                  a.number 3
                li 
                  a.next
                    img(src='img/next-pager.svg', alt='')
    include inc/footer.jade
    include inc/script.jade