doctype html
html
	include inc/head.jade
	body
		include inc/header3.jade
		.main.giohang
			._container
				.row
					.main_left
						.head.row.align-items-center
							h3 giỏ hàng của bạn
							span (3 sản phẩm)
						.content
							-for(i=0;i<5;i++)
								.item.row.align-items-center.justify-content-between
									.left.row.align-items-center
										.img
											img(src='img/image4.jpg',alt="")
										.text
											span.title mage Clear Cell Salicylic Gel Cleanser 177ml - Trị "dứt điểm" tình trạng to lỗ chân lông
											.row.align-items-center
												span.number
													input(type="number" value="1")
												span.price-new 500.000đ
												span.price-old 750.000đ
									.right
										a.buy 
											img(src='img/giohang1.svg',alt="")
											| Mua sau
										a.delete
											img(src='img/giohang2.svg',alt="")
											| Xoá
									
					.sidebar_right
						.button
							button(type="button")#cash.row.align-items-center.justify-content-center
								| Đặt hàng
						.makhuyenmai.bgmain
							h3 Mã Khuyến Mãi
							.item
								.bg 
								.row.align-items-center.justify-content-between.content
									.left.row.align-items-center.justify-content-between
										span Giảm 100.000đ
										.chuy
											img(src='img/chuy.svg',alt="")
											.note
												.top.row.align-items-center
													span Hạn sử dụng
													span 12/12/2020 - 30/04/2021
												.bottom
													span Điều kiện:
													p Áp dụng khi thanh toán qua MoMo với hóa đơn trên 2.000.000đ
									.right
										button Áp dụng
							.item2
								.bg
								.row.align-items-center.content
									img(src='img/giohang3.svg',alt="")
									span.choosepromotion Chọn hoặc nhập khuyến mãi khác
						.tongcong.bgmain
							.item.row.align-items-center.justify-content-between
								span Tiền hàng:
								span 80.000.000đ
							.item.row.align-items-center.justify-content-between
								span Phí giao hàng:
								span Miễn phí
							.item2.row.align-items-center.justify-content-between
								span Tạm tính:
								span.color 80.000.000đ
						.lixi.bgmain.row.align-items-center.justify-content-center.text-center
							div
								span Bạn sẽ nhận được
								span 3.494 Lixicoin
			._container
				.styleproduct
					.row.align-items-center.justify-content-between.style
						h2 đổi coin nhận quà ngay
				.contentproduct
					-for(i=0;i<4;i++)
						.item
							.inner
								span.tag_promotion -20%
								img.product.lazy(data-src='img/image4.jpg' alt='')
								span.title Sữa rửa mặt dành cho nam giới Maria Galland 900...
								span.price.row.align-items-center
									span.new 500 DC XU
									span.old 750.000đ
							a.changecoin.row.justify-content-center.align-items-center Thiếu 500 coin
			._container
				.styleproduct
					.row.align-items-center.justify-content-between.style
						h2 Ưu đãi cho bạn
				.contentproduct
					-for(i=0;i<4;i++)
						.item
							.inner
								span.tag_promotion -20%
								img.product.lazy(data-src='img/image4.jpg' alt='')
								span.title Sữa rửa mặt dành cho nam giới Maria Galland 900...
								span.price.row.align-items-center
									span.new 500.000đ
									span.old 750.000đ
							a.addtocart.row.justify-content-center.align-items-center Thêm giỏ hàng			
		include inc/popupkhuyenmai.jade
		.information
			._container.row.align-items-center.justify-content-between
				.item.row.align-items-center.justify-content-center
					img(src='img/camketchinhhang.svg')
					p CAM KẾT 
						br
						| HÀNG CHÍNH HÃNG
				.item.row.align-items-center.justify-content-center
					img(src='img/tichdiem.svg')
					p TÍCH ĐIỂM
						br
						| THÀNH VIÊN VIP 
				.item.row.align-items-center.justify-content-center
					img(src='img/mienphi.svg')
					p MIỄN PHÍ 
						br
						| VẬN CHUYỂN
				.item.row.align-items-center.justify-content-center
					img(src='img/chamsoc.svg')
					p CHĂM SÓC
						br
						| & TƯ VẤN TẬN TÌNH
		include inc/footer.jade
		include inc/script.jade