doctype html
html
  include inc/head.jade
  body
    include inc/header.jade
    .main-banner.owl-carousel.owl-theme
      .item(style="background: url(img/banner.jpg) no-repeat center center")
        ._container
          .caption
            h1 Tinh chất làm sáng da
              span BELMEUR  serum
            p.row.justify-content-center 
              span chỉ còn
              span 345k
            a(href="#") mua ngay
      .item(style="background: url(img/banner.jpg) no-repeat center center")
        ._container
          .caption
            h1 Tinh chất làm sáng da
              span BELMEUR  serum
            p.row.justify-content-center 
              span chỉ còn
              span 345k
            a(href="#") mua ngay
    .partner
      ._container
        ul.row.align-items-center
          li.row.align-items-center.justify-content-center.active
            a(href="#")
              img(src='img/partner1.png' alt='')
          -for(i=0;i<9;i++)
            li.row.align-items-center.justify-content-center
              a(href="#")
                img(src='img/partner1.png' alt='')

    ._container
      .styleproduct
        .row.align-items-center.justify-content-between.style
          h2 sản phẩm đã xem
          a.xtc Xem tất cả
      .contentproduct
        -for(i=0;i<5;i++)
          .item
            .inner
              span.tag_promotion -20%
              img.product.lazy(data-src='img/image4.jpg' alt='')
              span.title Sữa rửa mặt dành cho nam giới Maria Galland 900...
              span.star.row.align-items-center
                img(src='img/Star3.svg' alt='')
                img(src='img/Star3.svg' alt='')
                img(src='img/Star3.svg' alt='')
                img(src='img/Star3.svg' alt='')
                img(src='img/Star2.svg' alt='')
                span (20)
              span.price.row.align-items-center
                span.new 500.000đ
                span.old 750.000đ
            a.addtocart.row.justify-content-center.align-items-center Thêm giỏ hàng
    
    ._container
      .styleproduct
        .row.align-items-center.justify-content-between.style
          h2 sản phẩm mua nhiều
          a.xtc Xem tất cả
        .row.justify-content-between
          .banner-left
            img(src='img/banner-left.jpg' alt='')
          .contentproduct.contentproduct_right
            -for(i=0;i<6;i++)
              .item1
                .inner
                  span.tag_promotion -20%
                  img.product.lazy(data-src='img/image4.jpg' alt='')
                  span.title Sữa rửa mặt dành cho nam giới Maria Galland 900...
                  span.star.row.align-items-center
                    img(src='img/Star3.svg' alt='')
                    img(src='img/Star3.svg' alt='')
                    img(src='img/Star3.svg' alt='')
                    img(src='img/Star3.svg' alt='')
                    img(src='img/Star2.svg' alt='')
                    span (20)
                  span.price.row.align-items-center
                    span.new 500.000đ
                    span.old 750.000đ
                a.addtocart.row.justify-content-center.align-items-center Thêm giỏ hàng
    ._container
      .styleproduct
        .row.align-items-center.justify-content-between.style
          h2 TÌM KIẾM NHIỀU NHẤT
      .timkiemnhieunhat.owl-carousel.owl-theme
        -for(i=0;i<10;i++)
          .item
            a(href="#") Tinh chất trị tàn nhan
    ._container
      .styleproduct
        .row.align-items-center.justify-content-between.style
          h2 Hot deals
          a.xtc Xem tất cả
      .bannerproduct
        .row.align-items-center.justify-content-between
          a(href="#")
            img(src='img/banner1.jpg' alt='')
          a(href="#")
            img(src='img/banner1.jpg' alt='')
           
      .contentproduct
        -for(i=0;i<5;i++)
          .item
            .inner
              img.product.lazy(data-src='img/image4.jpg' alt='')
              span.title Sữa rửa mặt dành cho nam giới Maria Galland 900...
              span.star.row.align-items-center
                img(src='img/Star3.svg' alt='')
                img(src='img/Star3.svg' alt='')
                img(src='img/Star3.svg' alt='')
                img(src='img/Star3.svg' alt='')
                img(src='img/Star2.svg' alt='')
                span (20)
              span.price.row.align-items-center
                span.new 500.000đ
                span.old 750.000đ
            a.addtocart.row.justify-content-center.align-items-center Thêm giỏ hàng
    ._container
      .styleproduct
        .row.align-items-center.justify-content-between.style
          h2 sản phẩm Dành riêng cho bạn
          a.xtc Xem tất cả
        .row.justify-content-between
          .banner-left
            img(src='img/banner-left.jpg' alt='')
          .contentproduct.contentproduct_right
            -for(i=0;i<6;i++)
              .item
                .inner
                  img.product.lazy(data-src='img/image4.jpg' alt='')
                  span.title Sữa rửa mặt dành cho nam giới Maria Galland 900...
                  span.star.row.align-items-center
                    img(src='img/Star3.svg' alt='')
                    img(src='img/Star3.svg' alt='')
                    img(src='img/Star3.svg' alt='')
                    img(src='img/Star3.svg' alt='')
                    img(src='img/Star2.svg' alt='')
                    span (20)
                  span.price.row.align-items-center
                    span.new 500.000đ
                    span.old 750.000đ
                a.addtocart.row.justify-content-center.align-items-center Thêm giỏ hàng
    ._container
      .styleproduct
        .row.align-items-center.justify-content-between.style
          h2 KINH NGHIỆM LÀM ĐẸP
          a.xtc Xem tất cả
      .kinhnghiemlamdep.row.align-items-center.justify-content-between
        -for(i=0;i<3;i++)
          .item
            .img
              img(src='img/image7.jpg')
              span.date 07/10/2020
            .text
              h5 Khi nào bạn cần đi gặp bác sĩ khi xuất hiện những đốm nâu trên da
              p Bạn có bao giờ thắc mắc tại sao những đốm nâu trên da xuất hiện ngày một nhiều mặc dù bạn vẫn đang còn trẻ hay chưa? Những đốm này còn được gọi là đốm đồi mồi...
              a(href="/") Xem thêm
    .videomoinhat
      ._container
        .styleproduct
          .row.align-items-center.justify-content-between.style
            h2 VIDEO MỚI NHẤT
            a.xtc Xem tất cả
      .content.owl-carousel.owl-theme
        -for(i=0;i<4;i++)
          a(href="#").item
            .img
              img(src='img/img7.jpg', alt="")
            p Hướng Dẫn Chọn Kem Chống Nắng Đúng - Image Skincare Spf 32 spf 50 Chống uva

    .information
      ._container.row.align-items-center.justify-content-between
        .item.row.align-items-center.justify-content-center
          img(src='img/camketchinhhang.svg')
          p CAM KẾT 
            br
            | HÀNG CHÍNH HÃNG
        .item.row.align-items-center.justify-content-center
          img(src='img/tichdiem.svg')
          p TÍCH ĐIỂM
            br
            | THÀNH VIÊN VIP 
        .item.row.align-items-center.justify-content-center
          img(src='img/mienphi.svg')
          p MIỄN PHÍ 
            br
            | VẬN CHUYỂN
        .item.row.align-items-center.justify-content-center
          img(src='img/chamsoc.svg')
          p CHĂM SÓC
            br
            | & TƯ VẤN TẬN TÌNH
    include inc/footer.jade
    include inc/script.jade
    script(type='text/javascript', src='js/main2.js')
    