doctype html
html
	include inc/head.jade
	body
		include inc/header.jade
		include inc/breadcrumb.jade
		.main.padbt0_30
			._container
				.row
					.sidebar
						.top_account.dcpd_no_scrollbar
							.box.row.align-items-center
								.img.row.align-items-center.justify-content-center
									img(src='img/userIcon.svg', alt='')
								p Tài khoản của
									span Phuong Pham
							ul
								li
									a(href="/").row.align-items-center
										.img
											img(src='img/sanphamdaxem2.svg', alt='')
										span Vip
								li
									a(href="/").row.align-items-center
										.img
											img(src='img/sanphamdaxem3.svg', alt='')
										span Thông tin tài khoản
								li.active
									a(href="/").row.align-items-center
										.img
											img(src='img/sanphamdaxem4.svg', alt='')
										span Quản lí  đơn hàng
								li
									a(href="/").row.align-items-center
										.img
											img(src='img/sanphamdaxem5.svg', alt='')
										span Sổ địa chỉ
								li
									a(href="/").row.align-items-center
										.img
											img(src='img/sanphamdaxem6.svg', alt='')
										span Nhận xét sản phẩm đã mua
								li
									a(href="/").row.align-items-center
										.img
											img(src='img/sanphamdaxem7.svg', alt='')
										span Sản phẩm đã xem
								li
									a(href="/").row.align-items-center
										.img
											img(src='img/sanphamdaxem8.svg', alt='')
										span Xu của tôi
								li
									a(href="/").row.align-items-center
										.img
											img(src='img/sanphamdaxem9.svg', alt='')
										span Nhận xét của tôi

					.main_right2
						h4 đơn hàng của tôi
						.quan_ly_don_hang
							-for(y=0 ; y<2 ;y++)
								.item
									.top.row.align-items-center.justify-content-between
										p Mã đơn hàng: 
											span #5465313132
										p Ngày mua: 20/10/2020
										p Trạng thái đơn hàng: 
											span Đang giao
									table
										thead
											tr
												th Sản phẩm
												th.width175.text-center Giá
												th.width100.text-center Số lượng
												th.width100.text-center Giảm giá
												th.width175.text-center Tạm tính
										tbody
											-for(i=0;i<3;i++)
												tr
													td.row
														.img 
															img(src="img/image4.jpg", alt="")
														.text 
															| Thuốc Mọc Dài Và Làm Rậm Lông Mi Revitalash Advanced 2.0ml
															a(href="/").row.align-items-center.justify-content-center Mua lại
													td.text-center
														| 10.900.000 ₫
													td.text-center 1
													td.text-center 0đ
													td.text-right 10.900.000 ₫
									.middle
										.row.align-items-center.justify-content-end
											span Tổng tiền:
											span 80.000.000đ
									.bottom
										.row.align-items-center.justify-content-end
											a.row.align-items-center.justify-content-center(href="/") Mua lại
							.pager.pad20_0
								ul.row.align-items-center.justify-content-center
									li.row.align-items-center.justify-content-center
										a(href="/") 1
									li.active.row.align-items-center.justify-content-center
										a(href="/") 2
									li.row.align-items-center.justify-content-center
										a(href="/") 3
									li.row.align-items-center.justify-content-center
										a(href="/") 4
																								
		include inc/footer.jade
		include inc/script.jade