doctype html
html
	include inc/head.jade
	body
		include inc/header2.jade
		.main
			._container
				.row
					.main_left
						.diachinhanhang.bgmain.stylett
							.icon
								img(src='img/map.svg')
							.content
								.head
									h2 địa chỉ nhận hàng
							.content2
								.boxship2.style1
									.box1
										input(type="radio" name="radio1" checked)
										label Giao hàng tận nơi
									.box2.row.align-items-center.justify-content-between
										.input-column2.row 
											.radio2
												input(type="radio" name="diachi" checked)
												label 
											.item
												span.row.align-items-center Lam Dan, 0904567834
													span.macdinh Mặc định
												p 124/15 Duong So 5, Phường 17, Quận Gò Vấp, Thành Phố Hồ Chí Minh
												.choose
													span
													span
													span
												.boxchoose
													ul
														li
															a Đặt làm mặc định
														li
															a.chinhsua Chỉnh sửa
														li
															a Xóa địa chỉ
										.input-column2.row
											.radio2
												input(type="radio" name="diachi")
												label 
											.item
												span Lam Dan, 0904567834
												p 124/15 Duong So 5, Phường 17, Quận Gò Vấp, Thành Phố Hồ Chí Minh
												.choose
													span
													span
													span
												.boxchoose
													ul
														li
															a Đặt làm mặc định
														li
															a.chinhsua Chỉnh sửa
														li
															a Xóa địa chỉ
									.box2.row
										.input-column2.style
											a.row.align-items-center
												span +
												span Thêm địa chỉ mới

									.box3
										input(type="radio" name="radio1" )
										label Nhận hàng tại Showroom
						.phuongthucgiaohang.bgmain.stylett
							.icon
								img(src='img/icon8.svg')
							.content
								.head
									h2 PHƯƠNG THỨC GIAO HÀNG
								.row.justify-content-between.align-items-center
									.input-column2
										.item
											p Giao hàng tiêu chuẩn  
												span.free Miễn phí
											p Thời gian dự kiến: 
												span 18/09 - 21/09
									.input-column2
										.item
											p Giao hàng giờ hành chính từ
											span Thứ 2 đến Thứ 7
						.dichvukemtheo.bgmain.stylett
							.icon
								img(src='img/icon9.svg')
							.content
								.head
									h2 DỊCH VỤ KÈM THEO
								.box.style2.row
									.checkbox
									p Gói quà tặng bạn bè, người thân
										span Bao gồm: Hộp quà + Thiệp chúc mừng
								.box2
									textarea(name="", cols="30", rows="10", placeholder="Lời nhắn viết lên thiệp, tối đa 75 từ..." ).textarea
						include inc/phuongthucthanhtoan.jade
						.thongtinxuathoadon.bgmain.stylett.style2
							.box.style2.row.align-items-center
								.checkbox
								p THÔNG TIN XUẤT HOÁ ĐƠN
							.box2
								.row.align-items-center.justify-content-between
									.input-column2
										span Mã số thuế *
										input(type="text" name="masothue" placeholder="Nhập mã số thuế").input3
									.input-column2
										span Địa chỉ *
										input(type="text" name="diachi" placeholder="Nhập địa chỉ công ty").input3
								.row.align-items-center.justify-content-between
									.input-column2
										span Mã số thuế *
										input(type="text" name="masothue" placeholder="Nhập mã số thuế").input3
									.input-column2
										span Địa chỉ *
										input(type="text" name="diachi" placeholder="Nhập địa chỉ công ty").input3
						.ghichudonhang.bgmain.stylett.style2
							.box.style2.row.align-items-center
								.checkbox
								p ghi chú đơn hàng
							.box2
								textarea(name="", cols="30", rows="10", placeholder="Lời nhắn viết lên thiệp, tối đa 75 từ..." ).textarea

					.sidebar_right
						.thongtindonhang.bgmain
							.head.row.align-items-center
								img(src='img/giohang.svg')
								h4 thông tin đơn hàng
								span (3 sản phẩm)
							.content
								- for(i=0;i<3;i++)
										.item.row
											.left
												img(src='img/image5.jpg', alt="")
												a.delete Xóa
											.right
												span.title Gold Elements Mega Serum - Tinh chất trẻ hóa da và trị liệu đa công dụng
												.row
													select.number
														option(value='1') 1
													span x
													span.price 40.000.000đ
						.magiamgia.bgmain
							.head.row.align-items-center
								img(src='img/magiamgia.svg')
								h4 mã giảm giá
							.content
								input(type="text" name="code")
							.bg
								.row
									.img
										img(src='img/gift.svg')
									p Tặng Sáp tẩy trang Okame Superfruit Cleansing Balm cho đơn hàng từ 
										span 700K
						.lixi.bgmain.row.align-items-center.justify-content-center.text-center
							div
								span Bạn sẽ nhận được
								span 3.494 Lixicoin
						.tongcong.bgmain
							.item.row.align-items-center.justify-content-between
								span Tiền hàng:
								span 80.000.000đ
							.item.row.align-items-center.justify-content-between
								span Phí giao hàng:
								span Miễn phí
							.item.row.align-items-center.justify-content-between
								span Giảm giá:
								span 0đ
						.button
							button(type="button")#cash.row.align-items-center.justify-content-center
								| Thanh toán tiền mặt
							button(type="button")#vnpay.row.align-items-center.justify-content-center
								| Thanh toán
								img(src='img/vnpay.png')
		//popup
		.bgpopup
		.addaddress
			.close_popup
				img(src="img/close.svg")
			h2.row.justify-content-center.align-items-center
				<img src="img/map.svg">
				| Thêm địa chỉ nhận hàng
			.stylett
				.row.justify-content-between.align-items-end.item
					.input-column2
						span Tên người nhận (*)
						input(type="text" name="tennguoinhan" placeholder="Tên người nhận (*)").input3
					.input-column2
						input(type="text" name="sodienthoai" placeholder="Số điện thoại (*)").input3
				.row.justify-content-between.align-items-end.item
					.input-column2
						input(type="text" name="sonha" placeholder="Nhập số nhà và tên đường").input3
					.input-column2.thanhpho
						input(type="text" name="tinh" placeholder="Tỉnh / Thành Phố").input3
				.row.justify-content-between.align-items-end.item
					.input-column2.quan
						input(type="text" name="quan" placeholder="Quận / Huyện (*)").input3
					.input-column2.phuong
						input(type="text" name="phuong" placeholder="Phường / Xã").input3
			.style2
				input(type="radio" name="addaddress")
				label Sử dụng địa chỉ này làm mặc định
			.button.row.align-items-center.justify-content-center
				button(type="button").huy Huỷ
				button(type="button").giao Giao đến địa chỉ này	
		.editaddress
			.close_popup
				img(src="img/close.svg")
			h2.row.justify-content-center.align-items-center
				<img src="img/map.svg">
				| sửa địa chỉ nhận hàng
			.stylett
				.row.justify-content-between.align-items-end.item
					.input-column2
						input(type="text" name="tennguoinhan" value="Hong Anh").input3
					.input-column2
						input(type="text" name="sodienthoai" value="090645783642").input3
				.row.justify-content-between.align-items-end.item
					.input-column2
						input(type="text" name="sonha" value="569/33, Lý Chính Thắng").input3
					.input-column2
						input(type="text" name="tinh" value="Tỉnh / Thành Phố").input3
				.row.justify-content-between.align-items-end.item
					.input-column2
						input(type="text" name="quan" value="Quận 3").input3
					.input-column2
						input(type="text" name="phuong" value="Phường 12").input3
			.style2
				input(type="radio" name="addaddress" checked)
				label Sử dụng địa chỉ này làm mặc định
			.button.row.align-items-center.justify-content-center
				button(type="button").huy Huỷ
				button(type="button").giao Giao đến địa chỉ này
		include inc/bottom7.jade
		include inc/bottom8.jade
		include inc/bottom9.jade
		include inc/footer.jade
		include inc/script.jade