doctype html
html
	include inc/head.jade
	body
		include inc/header.jade
		include inc/breadcrumb.jade
		.main.padbt0_30
			._container
				.row
					.sidebar
						.top_account.dcpd_no_scrollbar
							.box.row.align-items-center
								.img.row.align-items-center.justify-content-center
									img(src='img/userIcon.svg', alt='')
								p Tài khoản của
									span Phuong Pham
							ul
								li
									a(href="/").row.align-items-center
										.img
											img(src='img/sanphamdaxem2.svg', alt='')
										span Vip
								li.active
									a(href="/").row.align-items-center
										.img
											img(src='img/sanphamdaxem3.svg', alt='')
										span Thông tin tài khoản
								li
									a(href="/").row.align-items-center
										.img
											img(src='img/sanphamdaxem4.svg', alt='')
										span Quản lí  đơn hàng
								li
									a(href="/").row.align-items-center
										.img
											img(src='img/sanphamdaxem5.svg', alt='')
										span Sổ địa chỉ
								li
									a(href="/").row.align-items-center
										.img
											img(src='img/sanphamdaxem6.svg', alt='')
										span Nhận xét sản phẩm đã mua
								li
									a(href="/").row.align-items-center
										.img
											img(src='img/sanphamdaxem7.svg', alt='')
										span Sản phẩm đã xem
								li
									a(href="/").row.align-items-center
										.img
											img(src='img/sanphamdaxem8.svg', alt='')
										span Xu của tôi
								li
									a(href="/").row.align-items-center
										.img
											img(src='img/sanphamdaxem9.svg', alt='')
										span Nhận xét của tôi

					.main_right
						h4 thông tin tài khoản
						.thong_tin_tai_khoan.style1.stylett
							.row.align-items-center.item
								.label Họ và tên
								.forminput
									input(type="text" value="Nguyễn Hồng Nhung").input
							.row.align-items-center.item.sodienthoai
								.label Số điện thoại mặc định
								.forminput
									input(type="text" value="0903456783").input
									span.macdinh.row.align-items-center.justify-content-center Số mặc định
									a.themsodienthoai + Thêm số điện thoại
							.row.align-items-center.item.sodienthoai2
								.label Số điện thoại2
								.forminput
									input(type="text" value="09034566566").input
							.row.align-items-center.item
								.label Giới tính
								.forminput.row.align-items-center
									.radio
										input(type="radio" name="gender" checked)
										label Nữ
									.radio
										input(type="radio" name="gender")
										label Nam
							.row.align-items-center.item
								.label Ngày sinh
								.forminput
									select.day
										option(value='02') 02
									select.month
										option(value='02') 02
									select.year
										option(value='1999') 1999
							.box.style2.row.align-items-center
								.checkbox
								p Thay đổi mật khẩu
							.box2
								.row.align-items-center.item
									.label Mật khẩu mới
									.forminput
										input(type="text" placeholder="Nhập mật khẩu mới").input
								.row.align-items-center.item
									.label Xác nhận mật khẩu mới
									.forminput
										input(type="text" placeholder="Nhập mật khẩu  mới xác nhận").input
							.button
								button(type="button").update.row.align-items-center.justify-content-center Cập nhật
												
														
		include inc/footer.jade
		include inc/script.jade