//Banggia
section.heading2.pad30_0
  .container
    .row
      .col-lg-12
        h2 
          span BẢNG GIÁ
    .row.main-bang-gia
      .col-lg-6
        -for(i=0;i<3;i++)
          ._item
            ._left
              h4 Meaasage da mặt
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            ._right
              span.price 500K
              a(href="#") Book ngay
      .col-lg-6
        -for(i=0;i<3;i++)
          ._item
            ._left
              h4 Meaasage da mặt
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            ._right
              span.price 500K
              a(href="#") Book ngay
              