.popup-address
	.all
		span.back
			i.icon-arrow-pre
		h5 Chọn Tỉnh / Thành Phố
		span.close
		.detail
			.pr
				form
					.control
						input.text(type='text')
				.resultall
					.result#thanhpho-popup
						.item
							p Hồ Chí Minh
							
						.item
							p Hà Nội
							
						.item
							p Đà Nẵng
							
						.item
							p Đồng Nai
							
						.item
							p Bà Rịa - Vũng Tàu
							
						.item
							p Cần Thơ
							
						.item
							p Khánh Hòa
							
						.item
							p Lâm Đồng
							
						.item
							p Quảng Ninh
							
						.item
							p Kiên Giang
							
						.item
							p Nghệ An
							
						.item
							p ĐắkLắc
					.result#quan-popup
						.item
							p Quận 1
							
						.item
							p Quận 2
							
						.item
							p Quận 3
							
						.item
							p Quận 4
							
						.item
							p Quận 5
							
						.item
							p Quận 6
							
						.item
							p Quận 7
							
						.item
							p Quận 8
							
						.item
							p Quận 9
							
						.item
							p Quận 10
							
						.item
							p Quận 11
							
						.item
							p Quận 12
							
						.item
							p Quận Gò Vấp
					.result#phuong-popup
						.item
							p Phường Bến Nghé
							
						.item
							p Phường Bến Thành
							
						.item
							p Phường Cầu Kho
							
						.item
							p Phường Cầu Ông Lãnh
							
						.item
							p Phường Cô Giang
							
						.item
							p Phường Đa Kao
							
						.item
							p Phường Nguyễn Cư Trinh
							
						.item
							p Phường Nguyễn Thái Bình
							
						.item
							p Phường Phạm Ngũ Lão
							
						.item
							p Phường Tân Định
						
