.popup-tinh-thanh-pho
	.all
		span.back
			i.icon-arrow-pre
		h5 Chọn Tỉnh / Thành Phố
		span.close
		.detail
			.pr
				form
					.control
						input.text(type='text' placeholder="Tìm kiếm Tỉnh / Thành Phố")
				.result
					.item
						p Hồ Chí Minh
						
					.item
						p Hà Nội
						
					.item
						p Đà Nẵng
						
					.item
						p Đồng Nai
						
					.item
						p Bà Rịa - Vũng Tàu
						
					.item
						p Cần Thơ
						
					.item
						p Khánh Hòa
						
					.item
						p Lâm Đồng
						
					.item
						p Quảng Ninh
						
					.item
						p Kiên Giang
						
					.item
						p Nghệ An
						
					.item
						p ĐắkLắc
						
