.popup-quan-huyen
	.all
		span.back
			i.icon-arrow-pre
		h5 Chọn Quận / Huyện
		span.close
		.detail
			.pr
				form
					.control
						input.text(type='text' placeholder="Chọn Quận / Huyện")
				
						
