.popup-phuong-xa
	.all
		span.back
			i.icon-arrow-pre
		h5 Chọn Phường / Xã
		span.close
		.detail
			.pr
				form
					.control
						input.text(type='text' placeholder="Chọn Phường / Xã")
				.result
					.item
						p Phường Bến Nghé
						
					.item
						p Phường Bến Thành
						
					.item
						p Phường Cầu Kho
						
					.item
						p Phường Cầu Ông Lãnh
						
					.item
						p Phường Cô Giang
						
					.item
						p Phường Đa Kao
						
					.item
						p Phường Nguyễn Cư Trinh
						
					.item
						p Phường Nguyễn Thái Bình
						
					.item
						p Phường Phạm Ngũ Lão
						
					.item
						p Phường Tân Định
						
