.popup-quan-huyen
	.all
		span.back
			i.icon-arrow-pre
		h5 Chọn Quận / Huyện
		span.close
		.detail
			.pr
				form
					.control
						input.text(type='text' placeholder="Chọn Quận / Huyện")
				.result
					.item
						p Quận 1
						
					.item
						p Quận 2
						
					.item
						p Quận 3
						
					.item
						p Quận 4
						
					.item
						p Quận 5
						
					.item
						p Quận 6
						
					.item
						p Quận 7
						
					.item
						p Quận 8
						
					.item
						p Quận 9
						
					.item
						p Quận 10
						
					.item
						p Quận 11
						
					.item
						p Quận 12
						
					.item
						p Quận Gò Vấp
						
