._breadcrumb.pad20_0
    ._container
        ul.row.align-items-center
            li
                a(href="/").row.align-items-center
                    img(src='img/iconhome.svg', alt='')
                    | Trang chủ 
            li
                a(href="/").row.align-items-center
                    | Thông tin tài khoản