//Dịch vụ
section.heading2.pad30_0
  .container
    .row
      .col-lg-12
        h2 
          span DỊCH VỤ NỔI BẬT
    .row.padtp30_0
      .owl-carousel.owl-theme.main-spa-2.main-spa-custom
        -for(i=0;i<4;i++)
          a(href="#").item
            img(src='img/spa/spa2.png', alt='')
            .caption
              h3 DỊCH VỤ TƯ VẤN & TRỊ LIỆU TẠI NHÀ
              p Các bài massage ấn huyệt trị liệu của AN’s spa ứng dụng kỹ thuật day ấn huyệt, y học cổ 
              span Xem chi tiết

              