// Header
header#header
	.nav-top.pad20_0
		._container
			.row.align-items-center.justify-content-between
				._logo
					a(href='/')
						img(src='img/logo.svg')
				._form_search
					form
						input(type='text' placeholder='Tìm kiếm: dưỡng thể, trắng da,  chống lão hóa,...')
						._submit
							img(src='img/search.svg')
							input(type='submit' value='')
				._support.row.align-items-center
					._img.row.align-items-center.justify-content-center
						img(src='img/phone.svg')
					span 08888 45 999
						br
						| Phục vụ 24/7
				._account.row.align-items-center
					._img.row.align-items-center.justify-content-center
						img(src='img/user.svg')
					span Đăng nhập
				._cart
					img(src='img/cart.svg')
					span 10

	.menu
		._container
			ul.row.align-items-center.justify-content-between
				li.dropdown.top.first
					a.top Thương Hiệu
					.open.row
						._left.do-nicescrol
							ul.alpha
								li#classA A
								li#classB B
								li#classC C
								li#classD D
							.boxscroll
								span.classA A
								ul
									li
										a(href="/") Alex Cosmetic
									li
										a(href="/") Ark-Farm
									li
										a(href="/") Arutechno-Industry
								span.classB B
								ul
									li
										a(href="/") BaBor
									li
										a(href="/") Be-Max
									li
										a(href="/") Beauty Skin
									li
										a(href="/") Botanical
									li
										a(href="/") Burberry
									li
										a(href="/") Bvlgari
								span.classC C
								ul
									li
										a(href="/") BaBor
									li
										a(href="/") Be-Max
									li
										a(href="/") Beauty Skin
									li
										a(href="/") Botanical
									li
										a(href="/") Burberry
									li
										a(href="/") Bvlgari
								span.classD D
								ul
									li
										a(href="/") BaBor
									li
										a(href="/") Be-Max
									li
										a(href="/") Beauty Skin
									li
										a(href="/") Botanical
									li
										a(href="/") Burberry
									li
										a(href="/") Bvlgari
						._right.row.align-items-center.justify-content-center
							a(href="/").banner
								img(src='img/img1.png')
							a(href="/").banner
								img(src='img/img2.png')
							a(href="/").banner
								img(src='img/img1.png')
				li.dropdown.top.first
					a(href='/').top chăm sóc da
					.open.row.style2
						ul
							li
								a(href="/") Bộ Kit
							li
								a(href="/") Chống nắng
							li
								a(href="/") Kem Chống Nhăn, Chống lão hóa
							li
								a(href="/") Kem Dưỡng Sáng Da
							li
								a(href="/") Da Nhạy Cảm
							li
								a(href="/") Nâng Nở Ngực
							li
								a(href="/") Nước Tẩy Trang
							li
								a(href="/") Tắm Trắng
							li
								a(href="/") Dưỡng Ẩm
							li
								a(href="/") Điều Trị Rạn Nứt Da
						ul
							li
								a(href="/") Bộ Kit
							li
								a(href="/") Chống nắng
							li
								a(href="/") Kem Chống Nhăn, Chống lão hóa
							li
								a(href="/") Kem Dưỡng Sáng Da
							li
								a(href="/") Da Nhạy Cảm
							li
								a(href="/") Nâng Nở Ngực
							li
								a(href="/") Nước Tẩy Trang
							li
								a(href="/") Tắm Trắng
							li
								a(href="/") Dưỡng Ẩm
							li
								a(href="/") Điều Trị Rạn Nứt Da
				li.dropdown.top.first
					a(href='/').top callogen
					.open.row.style1
						ul
							li
								a(href="/") Bộ Kit
							li
								a(href="/") Chống nắng
							li
								a(href="/") Kem Chống Nhăn, Chống lão hóa
							li
								a(href="/") Kem Dưỡng Sáng Da
							li
								a(href="/") Da Nhạy Cảm
							li
								a(href="/") Nâng Nở Ngực
							li
								a(href="/") Nước Tẩy Trang
							li
								a(href="/") Tắm Trắng
							li
								a(href="/") Dưỡng Ẩm
							li
								a(href="/") Điều Trị Rạn Nứt Da
				li.first
					a(href='/') mi, mày, tóc
				li.first
					a(href='/') sức khỏe
				li.first
					a(href='/') giảm cân
				li.first
					a(href='/') siêu thị organic
				li.first
					a(href='/') tới spa
				li.first
					a(href='/') khuyến mãi
				li.first
					a(href='/') khỏe đẹp
				li.first
					a(href='/') Video
.bg_header