// Header
header#header2.pad10_0
	._container
		.row.align-items-center.justify-content-between
			._logo
				a(href='/')
					img(src='img/logo.svg')
			._right
				ul.row.align-items-center
					li.active.row.align-items-center
						.img.row.align-items-center.justify-content-center
							img(src='img/thanhtoan1.svg')
						span 1. giỏ hàng
					li.active.row.align-items-center
						.img.row.align-items-center.justify-content-center
							img(src='img/thanhtoan2.svg')
						span 2. thanh toán
					li.row.align-items-center
						.img.row.align-items-center.justify-content-center
							img(src='img/thanhtoan3.svg')
						span 3. hoàn tất
					
