// Header
header#header2
	._container
    .row.align-items-center.justify-content-between
			._logo
				a(href='/')
					img(src='img/logo.svg')
			._right
				ul
					li.active
						img(src='img/thanhtoan1.svg')
						span 1. giỏ hàng
					li.active
						img(src='img/thanhtoan2.svg')
						span 2. thanh toán
					li
						img(src='img/thanhtoan3.svg')
						span 3. hoàn tất
          
