// Language
.box-language
  ._bg_
  ._box_
    h2 Chọn ngôn ngữ
    span.close X
    ul
      li
        a(href="#")
          img(src="img/spa/vietnam.jpg",alt="")
      li
        a(href="#")
          img(src="img/spa/japan.jpg",alt="")
      li
        a(href="#")
          img(src="img/spa/usa.jpg",alt="")