.phuongthucthanhtoan.bgmain.stylett
  .icon
    img(src='img/icontt.svg')
  .content
    .head
      h2 PHƯƠNG THỨC THANH TOÁN
    .box.style1.row.justify-content-between
      .item.row.justify-content-center  
        input(type="radio" name="radio3" checked)
        label
        .img
          img(src='img/phuongthuc1.svg')
        p Tiền mặt
      .item.row.justify-content-center
        input(type="radio" name="radio3" )
        label
        .img
          img(src='img/phuongthuc2.svg')
        p Ví MoMo
      .item.row.justify-content-center
        input(type="radio" name="radio3" )
        label
        .img
          img(src='img/phuongthuc3.svg')
        p Chuyển khoản
      .item.row.justify-content-center
        input(type="radio" name="radio3" )
        label
        .img
          img(src='img/phuongthuc4.svg')
        p Thẻ ATM nội địa/Internet Banking (Miễn phí thanh toán)
      .item.row.justify-content-center
        input(type="radio" name="radio3" )
        label
        .img
          img(src='img/phuongthuc5.svg')
        p Thanh toán bằng thẻ quốc tế Visa, Master, JCB
    .note
      p 
        span Tiền mặt: 
        | Bạn sẽ thanh toán bằng tiền mặt cho nhân viên khi giao hàng. Vui lòng kiểm tra số lượng, tình trạng sản phẩm và số tiền trong đơn hàng khi thanh toán.
